/* loeding dots stuyle*/
@keyframes blink {
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

.saving span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.saving span:nth-child(2) {
    animation-delay: .2s;
}

.saving span:nth-child(3) {
    animation-delay: .4s;
}





/* the img preloeder animatio */
.quadrado {
  width: 300px;
  animation: crescendo 1.5s alternate infinite ease-in;
}

@keyframes crescendo {
  0%   {transform: scale(.8);}
  100% {transform: scale(1);}
}

/* the list items for nav */

@media only screen and (max-width: 600px){
.menu ul li{
      padding: 1.5em
}
.slide-info h2{
  font-size: 2.7em;
}
.slide-info p{
  font-size: 1em;
  padding: 0 20px;
  text-align: justify;
}




}


.hide{
  display: none;
}

/* back to top btn style*/


#button {
  display: inline-block;
  background-color: #749799;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "^";
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #131415;
  border-radius: 50px;
  transition-property: all 0.5s linear 0s;
  -moz-transition: all 0.5s linear 0s;
  -webkit-transition: all 0.5s linear 0s;
  -o-transition: all 0.5s linear 0s;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}






/*end of media style*/
