
nav
  width: 100%
  position: fixed
.logo
  width: 150px
  display: block
  margin-left: auto
  margin-right: auto

p
  padding: 0
  margin: 0
.head
  height: 150px
  background-color: white
.content
  padding-top: 200px

.menu
  background-color: $dark
  height: 50%
  display: flex
  align-items: center
  justify-content: center
  border-bottom-left-radius: 50%
  padding-bottom: 30px
  ul
    list-style: none
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    li
      padding: 2.5em
      & :hover
        color: $blue
      a
        color: white
        text-decoration: none
        font-family: $sans-serif
.head
  padding-left: 3%
  padding-top: 3%
  transition-property: all 0.5s linear 0s
  -moz-transition: all 0.5s linear 0s
  -webkit-transition: all 0.5s linear 0s
  -o-transition: all 0.5s linear 0s


.hide
  display: none




.scroll
  display: flex
  justify-content: center
  transition-property: all 0.5s linear 0s
  -moz-transition: all 0.5s linear 0s
  -webkit-transition: all 0.5s linear 0s
  -o-transition: all 0.5s linear 0s
  height: 50px
  padding-top: 1em
  .logo
    width: 20px
