.header-scroll
  transition: all 4s ease-in-out
  .container
    padding: 15px 0
    background-color: white
    position: -webkit- sticky
    background-color: RGBA(255,255,255,0.9)
  .logo
    display: flex
    align-items: center
    justify-content: center
    img
      width: 100px



.sticky
  position: fixed
  width: 100%
  left: 0
  top: 0
  z-index: 100
  border-top: 0

.nav-menu-p
  transition: all 10.5s ease-in-out
  padding-top: 300px

.header
  height: 170px
